body {
    font-family: "Averia Libre", system-ui;
    font-style: normal;
    background-image: url(../Imagens/fundo\ tampinhas\ azul\ claro.jpg);
    background-size: cover;
}

.fundo-branco {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 2px 2px 10px #E4E4E4;
}

header {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* LINHA 1 */

#casinhaHome, #sejaParceiro {
    width: 50%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#homeLabel, #sejaParceiroLabel {
    font-size: 14px;
    font-weight: 500;
}

#homeLabel {
    color: #000000;
}

#areaHome, #areaSejaParceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#botaoSejaParceiro {
    display: grid;
    vertical-align: middle;
    line-height: 1;
    border: 1px solid #151515;
    background-color: #7AB3CC;
    box-shadow: 2px 2px 10px #000000;
    pointer-events: none;
}

#botaoHome {
    display: grid;
    vertical-align: middle;
    line-height: 2;
}

#botaoHome:hover {
    color: #7AB3CC;
}

#logoTamPets {
    width: 150px;
    height: auto;
}

/* LINHA 2 */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 1px #b5b5b5;
    border-radius: 40px;
    box-shadow: 2px 2px 10px #626161;
}

.nav-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
}

.nav-item:hover {
    color: #7AB3CC;
    border-radius: 40px;
}

/* FALTOU ARRUMAR O HOVER DO BOTÃO ABAIXO */

/* RODAPÉ */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #E4E4E4;
    box-shadow: 2px 2px 10px #e5e5e5;
    box-shadow: 0px -5px 10px #969696;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8fb7c8;
}

